body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 calc(100vh - 30px);
}

main .row {
    justify-content: center;
    min-height: 100%;

}

main .column {
    background-color: gray;
    border: thin solid black;
}

footer {
    flex: 0 30px;
    padding-left: .3em;
    padding-right: .3em;
    border-top: thin solid black;
}

footer a {
    float: right;
}

#main-column {
    justify-content: center;
    align-items: center;
}

.canvas-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#game-canvas {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.controls {
    display: flex;
    flex-direction: row;
}

.controls .sub-control {
    border: solid 1px black;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sub-control button {
    flex: 0;
}

.widget {
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    height: 5em;
    margin-top: 1em;
}

.add-widget {
    background-color: #333;
    color: lightgray;
    border-radius: 10px;
    width: 100%;
    height: 5em;
    margin-top: 1em;
    border: none;
}

#right-column {
    display: flex;
    flex-direction: column;
}

.sign-out-and-friends {
    flex: 1;
}

#sign-out {
    margin-top: 1em;
    width: 100%;
    height: 3em;
}

#sign-out button {
    height: 3em;
    width: 100%;
    float: right;
}

.friend {
    background-color: #999;
    border-radius: 10px;
    width: 100%;
    height: 3em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.friend img {
    border-radius: 10px;
    flex: 0;
}

.friend p {
    margin-left: 1em;
    flex: 1;
}

.add-friend {
    background-color: #999;
    border-radius: 10px;
    width: 100%;
    height: 3em;
    margin-top: 1em;
    align-content: center;
    padding-top: .75em;
    border: none;
}

.chatbox {
    background-color: #999;
    flex: 0 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border: thin solid black;
}

.chatbox form * {
    margin: 1px;
}

.messages {
    flex: 1;
    padding: 5px;
}

.message-items p {
    margin: 0;
}

.composer {
    flex: 0;
}

.composer .top {
    border-top: thin solid black;
    margin-bottom: 2px;
}

.composer .top * {
    margin: 0;
}

.composer label {
    width: 70%;
    text-align: right;
}

.composer select {
    float: right;
    width: 30%;
}

.composer form {
    padding: 0px;
}

.composer input {
    width: 70%;
    height: 30px;
    margin: 0px;
}

.composer button {
    width: 30%;
    height: 30px;
    margin: 0px;
    float: right;
    border: thin solid;
}



.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box p {
    margin: 0;
    margin-top: 1em;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0069d9;
}